server:
  port: 9999

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        native:
          search-locations: file:///${user.dir}/config-repo
  profiles:
    active: native

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
